/* 
font-family: 'Major Mono Display', monospace;
font-family: 'Wallpoet', cursive;
font-family: 'Nova Mono', monospace;
font-family: 'Palette Mosaic', cursive;

font-family: 'Share Tech Mono', monospace;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu Mono', monospace;
*/
body {
    background-color: black;
    color: #dadada;
    /* font-family: 'Teko'; */
    font-family: 'Share Tech Mono';
}

th {
    text-align: left;
}

.module {
    background-color: #646464;
    border: solid #c4c4c4 0.25em;
    margin: 10px;
}

.module header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #323232;
}

.module section {
    padding-left: 1em;
    padding-right: 1em;
}

.module h3 {
    color: orange;
    background-color: #323232;
    /* color: white; */
    margin: 0;
    font-family: "Major Mono Display";
    /* font-family: "Wallpoet"; */
}

.module-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 1em;
    color: orange;
}

/* Files Section */
#files .container {
    display: flex;
}

#files .load p {
    margin:0;
}

#files .loaded {
    width: 100%;
}

#files .loaded table {
    width: 100%;
}

.canvas-wrapper {
    width: 100%;
    margin: auto;
}

#waveform_canvas {
    border: solid black 2px;
}

.tracklist {
    background-color: black;
    padding: 10px;
}

.track {
    display: flex;
}

.track canvas {
    border: groove #ff9800 1px;
}

#looper .controls {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

#ranger .controls {
    display: flex;
    flex-direction: column;
}
